In [2]:
#Importing the pandas library for data manipulation
import pandas as pd 
import numpy as np

In [40]:
#Reading and slighly cleaning the crew.csv
#Holds information about directors and writers and their associated movies
crewCSV = pd.read_csv('crew.csv', '\t')


#Removing the first column (Unnamed)
crewCSV = crewCSV.drop('Unnamed: 0', axis=1)

#Replacing all the NaN values with 0
crewCSV.fillna(-1, inplace=True)
crewCSV.rename(columns={'directors':'director-nameId', 'writers':'writer-nameId'}, inplace=True)

#Sorting the values incrementally
crewCSV.sort_values(by='titleId', inplace=True)

#Renaming this csv to something similar to Creators, has all directors and writers for a movie
contentManagers = crewCSV.copy()
# some reformatting goes on down here
sep = ', '
contentManagers['titleId'] = [i.split('tt')[1] for i in contentManagers['titleId']]
for i in range(len(contentManagers['director-nameId'])):
    if contentManagers['director-nameId'][i] != -1:
        contentManagers['director-nameId'][i] = str('{' + sep.join([str(j.split('nm')[1]) for j in str(contentManagers['director-nameId'][i]).split(',')]) + '}')
    else:
        contentManagers['director-nameId'][i] = str('{-1}')
for i in range(len(contentManagers['writer-nameId'])):
    if contentManagers['writer-nameId'][i] != -1:
        contentManagers['writer-nameId'][i] = str('{' + sep.join([str(j.split('nm')[1]) for j in str(contentManagers['writer-nameId'][i]).split(',')]) + '}')
    else:
        contentManagers['writer-nameId'][i] = str('{-1}')
contentManagers.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

    titleId     director-nameId                                  writer-nameId
0   0000023           {0525910}                                           {-1}
1   0000181           {0808310}                                      {0674518}
2   0000225                {-1}                                      {0207305}
3   0000230           {0617588}                                      {0674518}
4   0000420  {0378408, 0832948}                             {0140902, 0378408}
..      ...                 ...                                            ...
95  0004465  {0309163, 0533289}           {0323766, 0225458, 0782707, 0589616}
96  0004536           {0806565}                                           {-1}
97  0004630           {0132324}                             {0058849, 0063492}
98  0004707  {0784407, 0071658}  {0215874, 0404327, 0784407, 1100197, 0808086}
99  0004743           {0198523}                    {0832952, 0014571, 0574737}

[100 rows x 3 columns]

In [35]:
#Reading and slighly cleaning the customer_ratings.csv
#Holds information about customers and their ratings to movies (Out of 5)
customerRatingsCSV = pd.read_csv('customer_ratings.csv', '\t')

#Removing the first column (Unnamed)
customerRatingsCSV = customerRatingsCSV.drop('Unnamed: 0', axis=1)

#Sorting the values incrementally 
customerRatingsCSV.sort_values(by='customerId', inplace=True)

#Renaming to Users so it is similar to our database design and renaming customerId
usersDirty = customerRatingsCSV.copy()
usersDirty.rename(columns={'customerId':'userId'}, inplace=True)
#users.head(100)

#Grabbing all of the duplicate values for an array
userIdNumbers = usersDirty['userId']
userIdNumbers.drop_duplicates(inplace=True)

#Creating a new dataframe in which each index of the array of each column (same index) relates to one rating 
users = pd.DataFrame(columns=['userId', 'rating', 'date', 'titleId'])
sep = ', '
for i in userIdNumbers:
    distinctUser = usersDirty[usersDirty.userId == i]
    distinctRating = distinctUser['rating'].to_numpy()
    distinctRating = [str(int(i)) for i in distinctRating] # added this to cast all ratings to int
    distinctRating = str('{'+sep.join(distinctRating)+'}')
    distinctDate = list(distinctUser['date'].to_numpy())
    distinctDate = str('{'+sep.join(distinctDate)+'}')
    distinctTitle = distinctUser['titleId'].to_numpy()
    distinctTitle = [str(i.split('tt')[1]) for i in distinctTitle] # added this to get rid of tt in front of titleId
    distinctTitle = str('{'+sep.join(distinctTitle)+'}')
    toAdd = {'userId': i, 'rating': distinctRating, 'date': distinctDate, 'titleId': distinctTitle}
    users = users.append(toAdd, ignore_index=True)
users.head(100)
# len(users)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

1094

In [59]:
#Reading and slighly cleaning the names.csv
#Holds information about the movie creators and the professions
namesCSV = pd.read_csv('names.csv', '\t')

#Removing the first column (Unnamed)
namesCSV = namesCSV.drop('Unnamed: 0', axis=1)

#Replacing all the NaN values 
namesCSV.fillna(-1, inplace=True)
namesCSV.rename(columns={'nconst': 'nameId'}, inplace=True)

#Sorting the data incrementally
namesCSV.sort_values(by='nameId', inplace=True)

nameLookup = namesCSV.copy()
nameLookup['nameId'] = [i.split('nm')[1] for i in nameLookup['nameId']] # added this to get rid of nm in front of nameId
nameLookup['primaryProfession'] = [str('{' + str(i) + '}') for i in nameLookup['primaryProfession']]
nameLookup['birthYear'] = [int(i) for i in nameLookup['birthYear']]
nameLookup['deathYear'] = [int(i) for i in nameLookup['deathYear']]
nameLookup.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,nameId,primaryName,birthYear,deathYear,primaryProfession
0,0000001,Fred Astaire,1899,1987,"{soundtrack,actor,miscellaneous}"
1,0000002,Lauren Bacall,1924,2014,"{actress,soundtrack}"
2,0000003,Brigitte Bardot,1934,-1,"{actress,soundtrack,music_department}"
3,0000004,John Belushi,1949,1982,"{actor,soundtrack,writer}"
4,0000005,Ingmar Bergman,1918,2007,"{writer,director,actor}"
...,...,...,...,...,...
95,0000099,Patricia Arquette,1968,-1,"{actress,soundtrack,director}"
96,0000100,Rowan Atkinson,1955,-1,"{actor,writer,producer}"
97,0000101,Dan Aykroyd,1952,-1,"{writer,actor,producer}"
98,0000102,Kevin Bacon,1958,-1,"{actor,producer,soundtrack}"
99,0000103,Fairuza Balk,1974,-1,"{actress,soundtrack}"

In [3]:
#Reading and slighly cleaning the principals.csv
#Holds information about the actors and actresses and their roles in the movies
principalsCSV = pd.read_csv('principals.csv', '\t')

#Removing the first column (Unnamed) and job since it is not required
principalsCSV = principalsCSV.drop('Unnamed: 0', axis=1)
principalsCSV = principalsCSV.drop('job', axis=1)

#Replacing all the NaN values 
principalsCSV.fillna(-1, inplace=True)
principalsCSV.rename(columns={'nconst':'nameId'}, inplace=True)

#Removing all the entries with director and writer since it becomes redundant
principalsCSV = principalsCSV[principalsCSV.category != 'director']
principalsCSV = principalsCSV[principalsCSV.category != 'writer']

#Renanming so it is similar to our database design
castMembers = principalsCSV.copy()
sep = ', '
castMembers['titleId'] = [i.split('tt')[1] for i in castMembers['titleId']] # get rid of tt
castMembers['nameId'] = [i.split('nm')[1] for i in castMembers['nameId']] # get rid of nm
castMembers['characters'] = [str('{' + str(i).replace('"', '').replace('[', '').replace(']', '') + '}') for i in castMembers['characters']]
castMembers.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

     titleId   nameId         category             characters
1    0000181  0809419          actress           {Cinderella}
5    0000230  1333156          actress           {Cinderella}
6    0000230  0076933          actress  {The Fairy Godmother}
7    0000230  1778224            actor      {Prince Charming}
8    0000230  0194945          actress      {Fairy Godmother}
..       ...      ...              ...                    ...
138  0000823  0601698            actor        {Howard Norris}
139  0000823  0456804            actor           {The Farmer}
140  0000823  0424530            actor    {The Real Minister}
141  0000823  0642722            actor       {The Cafe Owner}
144  0000823  0005658  cinematographer                   {-1}

[100 rows x 4 columns]

In [55]:
#Reading and slighly cleaning the titles.csv
#Holds information about the movies such as their names, ratings, and more
titlesCSV = pd.read_csv('titles.csv', '\t')

#Removing the first column (Unnamed) and removing year entirely
titlesCSV = titlesCSV.drop('Unnamed: 0', axis=1)
titlesCSV = titlesCSV.drop('Year', axis=1)

#Removing the duplicate movies
titlesCSV.drop_duplicates(subset=['titleId'], keep='first', inplace=True)

#Replacing all the NaN values 
titlesCSV.fillna(-1, inplace=True)
titlesCSV.sort_values(by='titleId', inplace=True)

content = titlesCSV.copy()
sep = ', '
content['titleId'] = [i.split('tt')[1] for i in content['titleId']]
content['startYear'] = [int(i) for i in content['startYear']]
content['endYear'] = [int(i) for i in content['endYear']]
content['genres'] = [str('{' + str(i) + '}') for i in content['genres']]
content['runtimeMinutes'] = [int(i) for i in content['runtimeMinutes']]
content.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
51540,0000023,short,Baignade en mer,1895,-1,1,"{Documentary,Short}",5.7,1280
8626,0000181,short,Cinderella,1898,-1,-1,"{Fantasy,Short}",6.9,56
4330,0000225,short,La belle et la bÃªte,1899,-1,-1,"{Family,Fantasy,Romance}",5.2,35
8628,0000230,short,Cendrillon,1899,-1,6,"{Drama,Family,Fantasy}",6.5,1512
1668,0000420,short,Alice in Wonderland,1903,-1,8,"{Family,Fantasy,Short}",6.3,2520
...,...,...,...,...,...,...,...,...,...
50196,0004465,movie,The Perils of Pauline,1914,-1,199,"{Action,Adventure,Drama}",6.3,1022
51093,0004536,short,The Ring,1914,-1,-1,"{Drama,Short}",5.4,31
51948,0004630,movie,The Spoilers,1914,-1,110,"{Drama,Western}",6.3,77
53907,0004707,movie,Tillie's Punctured Romance,1914,-1,82,{Comedy},6.3,3447
55896,0004743,movie,Uncle Tom's Cabin,1914,-1,54,{Drama},5.4,151

In [5]:
# import our database adapter, must pip install this package
import psycopg2
# import config parser to read our database.ini, included in python
from configparser import ConfigParser
from sqlalchemy import create_engine
import io

In [9]:
# In order to connect to the server you must have a credentials file (database.ini) structured like this:
# It's bad practice to upload stuff like this to github but we are doing it anyway

# [postgresql]
# host=csce-315-db.engr.tamu.edu
# database=csce315903_14db
# user=csce315903_14user
# password=GROUP14CS315

In [10]:
# connect to the database
credentialFname = 'database.ini'
postGreSection = 'postgresql'
parser = ConfigParser()
parser.read(credentialFname)

db = {}
if parser.has_section(postGreSection):
    params = parser.items(postGreSection)
    for param in params:
        db[param[0]] = param[1]
else:
    print('database.ini formatted incorrectly')

In [42]:
# various one time use commands for creating tables
tableCreationCommands = (
"""
CREATE TABLE Content (
    titleId INTEGER PRIMARY KEY,
    titleType TEXT,
    originalTitle TEXT,
    startYear INTEGER,
    endYear INTEGER,
    runtimeMinutes INTEGER,
    genres TEXT[],
    averageRating FLOAT,
    numVotes INTEGER
)
""",
"""
CREATE TABLE NameLookup (
    nameId INTEGER PRIMARY KEY,
    primaryName TEXT,
    birthYear INTEGER,
    deathYear INTEGER,
    primaryProfession TEXT[]
)
""",
"""
CREATE TABLE Users (
    userId INTEGER PRIMARY KEY,
    rating INTEGER[],
    date TEXT[],
    titleId INTEGER[]
)
""",
"""
CREATE TABLE ContentCreators (
    titleId INTEGER,
    directorNameId INTEGER[],
    writerNameId INTEGER[],
    FOREIGN KEY (titleId)
    REFERENCES Content (titleId)
    ON UPDATE CASCADE ON DELETE CASCADE
)
""",
"""
CREATE TABLE CastMembers (
    titleId INTEGER,
    nameId INTEGER,
    category TEXT,
    characters TEXT[],
    FOREIGN KEY (titleId)
    REFERENCES Content (titleId)
    ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (nameId)
    REFERENCES NameLookup (nameId)
    ON UPDATE CASCADE ON DELETE CASCADE
)
"""
)

In [44]:
# I use this connection to commit table creation changes
conn = None
try:
    conn = psycopg2.connect(**db)
    cursor = conn.cursor()
    # for command in tableCreationCommands:
    cursor.execute(tableCreationCommands[0])
    cursor.close()
    conn.commit()
except (psycopg2.DatabaseError) as err:
    print(err)
finally:
    if conn is not None:
        conn.close()

In [6]:
engine = create_engine('postgresql+psycopg2://csce315903_14user:GROUP14CS315@csce-315-db.engr.tamu.edu:5432/csce315903_14db')

# users.head(0).to_sql('users', engine, if_exists='replace',index=False) #drops old table and creates new empty table
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
castMembers.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'castmembers', null="") # null values become ''
conn.commit()