In [1]:
#Importing the pandas library for data manipulation
import pandas as pd 
import numpy as np

In [2]:
#Reading and slighly cleaning the crew.csv
#Holds information about directors and writers and their associated movies
crewCSV = pd.read_csv('crew.csv', '\t')


#Removing the first column (Unnamed)
crewCSV = crewCSV.drop('Unnamed: 0', axis=1)

#Replacing all the NaN values with 0
crewCSV.fillna(-1, inplace=True)
crewCSV.rename(columns={'directors':'director-nameId', 'writers':'writer-nameId'}, inplace=True)

#Sorting the values incrementally
crewCSV.sort_values(by='titleId', inplace=True)

#Renaming this csv to something similar to Creators, has all directors and writers for a movie
contentManagers = crewCSV.copy()
contentManagers.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,director-nameId,writer-nameId
0,tt0000023,nm0525910,-1
1,tt0000181,nm0808310,nm0674518
2,tt0000225,-1,nm0207305
3,tt0000230,nm0617588,nm0674518
4,tt0000420,"nm0378408,nm0832948","nm0140902,nm0378408"
...,...,...,...
95,tt0004465,"nm0309163,nm0533289","nm0323766,nm0225458,nm0782707,nm0589616"
96,tt0004536,nm0806565,-1
97,tt0004630,nm0132324,"nm0058849,nm0063492"
98,tt0004707,"nm0784407,nm0071658","nm0215874,nm0404327,nm0784407,nm1100197,nm0808086"
99,tt0004743,nm0198523,"nm0832952,nm0014571,nm0574737"

In [3]:
#Reading and slighly cleaning the customer_ratings.csv
#Holds information about customers and their ratings to movies (Out of 5)
customerRatingsCSV = pd.read_csv('customer_ratings.csv', '\t')

#Removing the first column (Unnamed)
customerRatingsCSV = customerRatingsCSV.drop('Unnamed: 0', axis=1)

#Sorting the values incrementally 
customerRatingsCSV.sort_values(by='customerId', inplace=True)

#Renaming to Users so it is similar to our database design and renaming customerId
usersDirty = customerRatingsCSV.copy()
usersDirty.rename(columns={'customerId':'userId'}, inplace=True)
#users.head(100)

#Grabbing all of the duplicate values for an array
userIdNumbers = usersDirty['userId']
userIdNumbers.drop_duplicates(inplace=True)

#Creating a new dataframe in which each index of the array of each column (same index) relates to one rating 
users = pd.DataFrame(columns=['userId', 'rating', 'date', 'titleId'])
for i in userIdNumbers:
    distinctUser = usersDirty[usersDirty.userId == i]
    distinctRating = distinctUser['rating'].to_numpy()
    distinctDate = distinctUser['date'].to_numpy()
    distinctTitle = distinctUser['titleId'].to_numpy()
    toAdd = {'userId': i, 'rating': distinctRating, 'date': distinctDate, 'titleId': distinctTitle}
    users = users.append(toAdd, ignore_index=True)
users.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,userId,rating,date,titleId
0,1333,"[3.0, 2.0, 2.0, 3.0, 2.0, 2.0, 3.0, 3.0, 4.0, ...","[2004-08-13, 2004-02-08, 2004-02-23, 2005-08-2...","[tt0265936, tt0297162, tt6772328, tt0388500, t..."
1,3321,"[2.0, 4.0, 4.0, 4.0, 2.0, 1.0, 2.0, 4.0, 2.0, ...","[2005-09-27, 2005-05-08, 2005-09-27, 2005-07-2...","[tt4901376, tt3040914, tt0314519, tt0084809, t..."
2,3998,"[3.0, 5.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...","[2000-03-16, 2000-08-14, 2001-10-24, 2000-03-1...","[tt0077745, tt7587362, tt0227538, tt6323304, t..."
3,5980,"[5.0, 4.0, 4.0, 3.0, 3.0, 5.0, 3.0, 5.0, 3.0, ...","[2005-01-04, 2005-06-03, 2005-05-17, 2005-09-2...","[tt0257850, tt0349336, tt7132330, tt0076015, t..."
4,10268,"[4.0, 2.0, 4.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, ...","[2002-08-14, 2003-06-25, 2000-04-01, 2001-07-1...","[tt12780424, tt2516946, tt0078753, tt2262663, ..."
...,...,...,...,...
95,240748,"[4.0, 3.0, 4.0, 2.0, 4.0, 4.0, 3.0, 5.0, 3.0, ...","[2004-05-08, 2001-09-10, 2003-05-12, 2002-04-2...","[tt0103994, tt4731820, tt6279058, tt0087751, t..."
96,240923,"[2.0, 3.0, 2.0, 2.0, 2.0, 1.0, 5.0, 2.0, 2.0, ...","[2004-05-19, 2004-10-07, 2004-01-04, 2005-11-3...","[tt2448626, tt2382757, tt7418490, tt14483780, ..."
97,241634,"[3.0, 3.0, 2.0, 2.0, 3.0, 2.0, 4.0, 4.0, 5.0, ...","[2004-03-28, 2004-06-21, 2003-08-12, 2003-08-1...","[tt1022430, tt4719758, tt0875457, tt0929287, t..."
98,242681,"[2.0, 3.0, 4.0, 3.0, 4.0, 4.0, 5.0, 4.0, 3.0, ...","[2003-12-29, 2003-12-29, 2004-12-12, 2003-09-3...","[tt0079227, tt0106544, tt7816996, tt4731838, t..."
99,243612,"[3.0, 3.0, 3.0, 2.0, 1.0, 3.0, 3.0, 2.0, 3.0, ...","[2003-07-01, 2004-01-12, 2004-05-14, 2003-02-1...","[tt0044413, tt6507140, tt0058962, tt0707111, t..."

In [4]:
#Reading and slighly cleaning the names.csv
#Holds information about the movie creators and the professions
namesCSV = pd.read_csv('names.csv', '\t')

#Removing the first column (Unnamed)
namesCSV = namesCSV.drop('Unnamed: 0', axis=1)

#Replacing all the NaN values 
namesCSV.fillna(-1, inplace=True)
namesCSV.rename(columns={'nconst': 'nameId'}, inplace=True)

#Sorting the data incrementally
namesCSV.sort_values(by='nameId', inplace=True)

nameLookup = namesCSV.copy()
nameLookup.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,nameId,primaryName,birthYear,deathYear,primaryProfession
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack"
2,nm0000003,Brigitte Bardot,1934.0,-1.0,"actress,soundtrack,music_department"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor"
...,...,...,...,...,...
95,nm0000099,Patricia Arquette,1968.0,-1.0,"actress,soundtrack,director"
96,nm0000100,Rowan Atkinson,1955.0,-1.0,"actor,writer,producer"
97,nm0000101,Dan Aykroyd,1952.0,-1.0,"writer,actor,producer"
98,nm0000102,Kevin Bacon,1958.0,-1.0,"actor,producer,soundtrack"
99,nm0000103,Fairuza Balk,1974.0,-1.0,"actress,soundtrack"

In [5]:
#Reading and slighly cleaning the principals.csv
#Holds information about the actors and actresses and their roles in the movies
principalsCSV = pd.read_csv('principals.csv', '\t')

#Removing the first column (Unnamed) and job since it is not required
principalsCSV = principalsCSV.drop('Unnamed: 0', axis=1)
principalsCSV = principalsCSV.drop('job', axis=1)

#Replacing all the NaN values 
principalsCSV.fillna(-1, inplace=True)
principalsCSV.rename(columns={'nconst':'nameId'}, inplace=True)

#Removing all the entries with director and writer since it becomes redundant
principalsCSV = principalsCSV[principalsCSV.category != 'director']
principalsCSV = principalsCSV[principalsCSV.category != 'writer']

#Renanming so it is similar to our database design
castMembers = principalsCSV.copy()
castMembers.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

       titleId     nameId         category               characters
1    tt0000181  nm0809419          actress           ["Cinderella"]
5    tt0000230  nm1333156          actress           ["Cinderella"]
6    tt0000230  nm0076933          actress  ["The Fairy Godmother"]
7    tt0000230  nm1778224            actor      ["Prince Charming"]
8    tt0000230  nm0194945          actress      ["Fairy Godmother"]
..         ...        ...              ...                      ...
138  tt0000823  nm0601698            actor        ["Howard Norris"]
139  tt0000823  nm0456804            actor           ["The Farmer"]
140  tt0000823  nm0424530            actor    ["The Real Minister"]
141  tt0000823  nm0642722            actor       ["The Cafe Owner"]
144  tt0000823  nm0005658  cinematographer                       -1

[100 rows x 4 columns]

In [6]:
#Reading and slighly cleaning the titles.csv
#Holds information about the movies such as their names, ratings, and more
titlesCSV = pd.read_csv('titles.csv', '\t')

#Removing the first column (Unnamed) and removing year entirely
titlesCSV = titlesCSV.drop('Unnamed: 0', axis=1)
titlesCSV = titlesCSV.drop('Year', axis=1)

#Removing the duplicate movies
titlesCSV.drop_duplicates(subset=['titleId'], keep='first', inplace=True)

#Replacing all the NaN values 
titlesCSV.fillna(-1, inplace=True)
titlesCSV.sort_values(by='titleId', inplace=True)

content = titlesCSV.head(100)
content.head(100)

C:\Users\markh\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
51540,tt0000023,short,Baignade en mer,1895.0,-1.0,1.0,"Documentary,Short",5.7,1280
8626,tt0000181,short,Cinderella,1898.0,-1.0,-1.0,"Fantasy,Short",6.9,56
4330,tt0000225,short,La belle et la bÃªte,1899.0,-1.0,-1.0,"Family,Fantasy,Romance",5.2,35
8628,tt0000230,short,Cendrillon,1899.0,-1.0,6.0,"Drama,Family,Fantasy",6.5,1512
1668,tt0000420,short,Alice in Wonderland,1903.0,-1.0,8.0,"Family,Fantasy,Short",6.3,2520
...,...,...,...,...,...,...,...,...,...
50196,tt0004465,movie,The Perils of Pauline,1914.0,-1.0,199.0,"Action,Adventure,Drama",6.3,1022
51093,tt0004536,short,The Ring,1914.0,-1.0,-1.0,"Drama,Short",5.4,31
51948,tt0004630,movie,The Spoilers,1914.0,-1.0,110.0,"Drama,Western",6.3,77
53907,tt0004707,movie,Tillie's Punctured Romance,1914.0,-1.0,82.0,Comedy,6.3,3447
55896,tt0004743,movie,Uncle Tom's Cabin,1914.0,-1.0,54.0,Drama,5.4,151

In [1]:
# import our database adapter, must pip install this package
import psycopg2
# import config parser to read our database.ini, included in python
from configparser import ConfigParser

In [ ]:
# In order to connect to the server you must have a credentials file (database.ini) structured like this:

# [postgresql]
# host=csce-315-db.engr.tamu.edu
# database=csce315903_14db
# user=csce315903_14user
# password=GROUP14CS315

In [8]:
# connect to the database
credentialFname = 'database.ini'
postGreSection = 'postgresql'
parser = ConfigParser()
parser.read(credentialFname)

db = {}
if parser.has_section(postGreSection):
    params = parser.items(postGreSection)
    for param in params:
        db[param[0]] = param[1]
else:
    print('database.ini formatted incorrectly')

In [14]:
conn = None
try:
    conn = psycopg2.connect(**db)
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM pg_catalog.pg_tables;")
    print(cursor.fetchone())
    cursor.close()
except (psycopg2.DatabaseError) as err:
    print(err)
finally:
    if conn is not None:
        conn.close()

('public', 'teammembers', 'csce315903_14user', None, True, False, False, False)